In [9]:
#task 1
marks = int(input("Enter the marks: "))  
if marks >= 80 and marks <= 100:  
   print("Congrats ! you scored grade A ...")  
elif marks >= 70 and marks <= 79:  
   print("You scored grade B  ...")  
elif marks >= 60 and marks <= 69:  
   print("You scored grade C ...")  
elif (marks >= 45 and marks <= 59):  
   print("You scored grade D ...")  
else:
   print("Sorry you are fail !")

Enter the marks: 89
Congrats ! you scored grade A ...

In [12]:
#task 2
#arthimatic operators
a=int(input("enter a number "))
b=int(input("enter b number "))
print("1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision")
choice=int(input("enter your choice"))
if choice==1:
    print("addition is",a+b)
elif choice ==2:
    print("subtraction of",a-b)
elif choice ==3:
    print("multiplication  of",a*b)
elif choice ==4:
    print("division of",a/b)
elif choice ==5:
    print("modulus of",a%b)
elif choice ==6:
    print("power of",a**b)
elif choice ==7:
    print("floor of",a//b)
else:
    print("enter a valid choice")

enter a number 20
enter b number 4
1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision
enter your choice7
floor of 5

In [22]:
#task 3
uid=int(input('Enter username:'))
if(uid>=50 and uid<=100):
    pwd=int(input('Enter password:'))
    if(pwd==6879):
        print("Welcome",uid)
    else:
        print("Invalid")
else:
    print("Invalid Username")

Enter username:70
Enter password:6879
Welcome 70

In [ ]:
# iterations:
#loops:
- repeat sequence of instructions until a specific condition satisfies.
1.for loop
2.while loop
3.nested for loop

In [ ]:
# for loop:
- for loop is used in the case where we need to execute some part pf the code until 
  the given condition satisfied.
- syntax:
    for iterating_var in iterable:
        statement/statements

In [ ]:
for i in range(n,m+1,step):
    statement
n--->include (n)
m--->exclude (m-1)

In [29]:
for i in range(1,8):
    print(i,end=" ")

1 2 3 4 5 6 7

In [30]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [34]:
for i in range(1,11,4):
    print(i,end=" ")

1 5 9

In [39]:
# even numbers
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [46]:
for letter in 'hello world':
    print(letter,end="")

hello world

In [42]:
for letter in 1,2,3,4,5:
    print(letter,end=" ")

1 2 3 4 5

In [45]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [48]:
for i in range('a','z',2):
    print(i,end=" ")

TypeError: 'str' object cannot be interpreted as an integer

In [50]:
# odd numbers
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [54]:
#natural number
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

50
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [55]:
n=int(input())
for i in range(1,n+1):
    print(i**2,end=" ")

5
1 4 9 16 25

In [56]:
ord('a')

97

In [57]:
ord('A')

65

In [ ]:
aba
97+98+97

In [62]:
#average
n=int(input())
m=int(input())
s=0
for i in range(n,m+1):
    s+=i #s=s+i
print(s/(m-n+1))

1
5
3.0

In [ ]:
1,11
1,2,3,4,5
s=s+i
s=0+1==>1
s=1+2==>3
s=3+3==>6
s=6+4==>10
s=10+5==>15

In [60]:
#m-n+1
5-1+1

5

In [ ]:
aba
97+98+97

In [66]:
a=input('enter the string:')
s=0
for i in a:
    s=s+ord(i)
print(a,'sum is',s)

enter the string:aba
aba sum is 292

In [64]:
97+98+97

292

In [ ]:
#task1:
1 input =2
*    *
*    *
******
*    *
*    *
******
*    *
*    *

In [ ]:
#task2:
2 inputs
n table multiples of m
7 * 1 = 7
7 * 2 = 14

In [ ]:
#task3:
multiple tables
5--->no of tables
5--->mutiples
1*1=1 2   3  4  5
1*2=2             
1*3=3             
1*4=4              
1*5=5

In [ ]:
#while loop
intialization
while(condition):
    statement
    increement/decrement

In [73]:
n=10
while n<5:
    print('Thank you')
    n+=1

In [72]:
n=1
while n<5:
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is odd")
    n+=1

1 is odd
2 is even
3 is odd
4 is even

In [ ]:
# nested loop
#syn:
for val in sequence:
    for val in sequence:
        statement
statements

In [85]:
for i in range(1,6):
    for j in range(0,i):
        print(i,end=" ")
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [84]:
for i in range(1,6):
    for j in range(0,i):
        print(j,end=" ")
    print('')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [83]:
for i in range(1,6):
    for j in range(0,i):
        print(i,end=" ")
    print('')

1 2 3 4 5

In [ ]:
for j in range(0,5):

In [ ]:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [89]:
r=5
for i in range(0,r):
    for j in range(0,i+1):
        print("*",end=" ")
    print('')
for i in range(r,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [92]:
for i in range(100,0,-1):
    print(i,end= " ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
*    *
*    *
******
*    *
*    *
******
*    *
*    *

In [95]:
n=int(input())
for i in range(1,n+1):
    print("*    *")
    print("*    *")
    print("******")

2
*    *
*    *
******
*    *
*    *
******

In [96]:
ord('A')

65

In [97]:
ord('B')

66

In [1]:
n=int(input())

67