# Heading1
## Heading 2
### Heading 3
**Bold**

*Italic*

***Bold and Italic***

### Ordered Lists
1. First
2. Second

### Unordered Lists
- First
- Second

### Topics
- Installation
- Python Intro
    - simple and general purpose language
    - Interpreted Scripting Language
    - High level
    - Object oriented
- Guido van Rossum 
- Applications
    - Web Applications
    - Data Science
    - machine Learning
- Jupyter Notebook
- Markdown format

In [1]:
# Single Line comment
'''Multi
Line
Comment'''

'Multi\nLine\nComment'

### Variable
- reserved memory location to store values
###  rules
- must start with a letter or underscore
- shouldn't start with number
- case sensitive
- don't use keywords names as varaible names

In [5]:
abc = 123
d = 1
_ab = 34
print(abc)
print(d)

123
1

In [6]:
1abc = 123

SyntaxError: invalid syntax (<ipython-input-6-db2f3fc0fed9>, line 1)

In [1]:
age = 20
Age = 20
print(age)
print(Age)

20
20

- Keywords
    - Reserved words
    - can't use keywords as variable names
    - used to define syntax and structure of python
    - case sensitive

In [10]:
import keyword
print(keyword.kwlist,end=" ")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- data types
    - int
    - float
    - string

In [15]:
name = 'python'
type(name)
#print(type(name))

str

In [16]:
a = 10
b = 9.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [17]:
a= 10,b='Hi',c=3.5
print(a,b,c)

SyntaxError: can't assign to literal (<ipython-input-17-6a8c2e4d4721>, line 1)

In [18]:
a,b,c = 10,'HI',3.5
print(a,b,c)

10 HI 3.5

In [21]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [22]:
a = a + 5
print(a)

15

In [24]:
a+'Hii'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- type conversions
    - int(varaiblename)
    - float(variablename)
    - str(variablename)

In [25]:
# type conversions
n = 'hii'
b = '23'
print(type(n))
print(type(b))

<class 'str'>
<class 'str'>

In [28]:
a = float(b)
print(a)
type(a)

23.0

float

In [29]:
h = int(b)
print(h)
type(h)

23

int

In [32]:
# string to int
a = '20'
b = int(a)
print(int(b))
type(b)

20

int

In [36]:
num = 20.5
num1 = str(num)
print(num1)
print(type(num1))
num2 = int(num)
print(num2)
print(type(num2))

20.5
<class 'str'>
20
<class 'int'>

In [35]:
a = 'Hii'
b = 'hello'
d = 10
c = a + b + d
c

TypeError: can only concatenate str (not "int") to str

In [38]:
# Static declaration
a = 10
# dynamic declaration
d = input("Enter s string: ")
d

Enter s string: hii

'hii'

In [39]:
n = int(input("Enter number: "))
n

Enter number: 10

10

In [40]:
f = float(input("Enter float value: "))
f

Enter float value: 10.8

10.8

In [2]:
h = input(float())
h

0.010.0

'10.0'

In [2]:
age

20